.header {
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  color: white;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__left {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__left h1 {
  cursor: pointer;
}

.header__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__right h2 {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.header__right h2:hover {
  opacity: 0.8;
}
