.contactUs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.contactUs__details {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #161616;
  width: 100%;
}

.contactUs__details a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 10px;
}
